<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form method="POST" id="onAdd" name="onAdd">
        {% csrf_token %}
        <div class="modal-header">
            <h1 id="addModalLabel" class="modal-title fs-5">
                Add New Call
            </h1>
            <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close"></button>
        </div>
        <div class="modal-body grid">
            <div class="form-floating g-col-12 g-col-sm-12 g-col-md-6 g-col-lg-6 g-col-xl-6 g-col-xxl-6">
                <select id="caller_id" name="caller_id" aria-label="Caller" class="form-select">
                    {% for user in users %}
                    <option value="{{user.value}}">
                        {{user.display}}
                    </option>
                    {% endfor %}
                </select>
                <label for="caller_id">
                    Caller
                </label>
            </div>

            <div class="form-floating g-col-12 g-col-sm-12 g-col-md-6 g-col-lg-3 g-col-xl-3 g-col-xxl-3">
                <select id="call_type" name="call_type" aria-label="Call Type" class="form-select">
                    {% for callType in callTypes %}
                    <option value="{{callType.value}}">
                        {{callType.display}}
                    </option>
                    {% endfor %}
                </select>
                <label for="call_type">
                    Call Type
                </label>
            </div>

            <div class="form-floating g-col-12 g-col-sm-12 g-col-md-6 g-col-lg-3 g-col-xl-3 g-col-xxl-3">
                <input type="datetime-local" id="calling_time" name="calling_time" value="{{call.calling_time}}" class="form-control">
                <label for="calling_time">
                    Calling Time
                </label>
            </div>

            <div class="form-floating g-col-12 g-col-sm-12 g-col-md-6 g-col-lg-3 g-col-xl-3 g-col-xxl-3">
                <input type="time" id="call_duration" name="call_duration" value="{{call.call_duration}}" class="form-control">
                <label for="call_duration">
                    Call Duration
                </label>
            </div>

            <div class="form-floating g-col-12 g-col-sm-12 g-col-md-6 g-col-lg-3 g-col-xl-3 g-col-xxl-3">
                <select id="call_duration_type" name="call_duration_type" class="form-select">
                    {% for callDurationTyp in callDurationType %}
                    <option value="{{callDurationTyp.value}}">
                        {{callDurationTyp.display}}
                    </option>
                    {% endfor %}
                </select>
                <label for="call_duration_type">
                    Call Duration Type
                </label>
            </div>

            <div class="form-floating g-col-12 g-col-sm-12 g-col-md-6 g-col-lg-6 g-col-xl-6 g-col-xxl-6">
                <select id="customer_id" name="customer_id" class="form-select">
                    <option value="{{customer.value}}">
                        {{customer.display}}
                    </option>
                </select>
                <label for="customer_id">
                    Customer
                </label>
            </div>

            <div class="form-floating g-col-12 g-col-sm-12 g-col-md-6 g-col-lg-6 g-col-xl-6 g-col-xxl-6">
                <textarea id="purpose_of_the_call" name="purpose_of_the_call" class="form-control" style="height: 100px;">{{call.purpose_of_the_call}}</textarea>
                <label for="remark">
                    Purpose Of The Call
                </label>
            </div>

            <div class="form-floating g-col-12 g-col-sm-12 g-col-md-6 g-col-lg-6 g-col-xl-6 g-col-xxl-6">
                <textarea id="outcome_of_the_call" name="outcome_of_the_call" class="form-control" style="height: 100px;">{{call.outcome_of_the_call}}</textarea>
                <label for="remark">
                    Outcome Of The Call
                </label>
            </div>

            <div class="form-floating g-col-12 g-col-sm-12 g-col-md-6 g-col-lg-6 g-col-xl-6 g-col-xxl-6">
                <select id="call_recording_status" name="call_recording_status" class="form-select">
                    <option value="true">
                        Yes
                    </option>
                    <option value="false" selected>
                        No
                    </option>
                </select>
                <label for="call_recording_status">
                    Call Recording Available?
                </label>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">
                Close
            </button>
            <button type="submit" id="submit" name="submit" class="btn btn-sm btn-success">
                Save
            </button>
        </div>
        </form>
    </div>
</div>