<form id="onAddFrom" name="onAddFrom">
    <div class="modal-header">
        <h1 id="addModalLabel" class="modal-title fs-5">
            Add New Call Log
        </h1>
        <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close"></button>
    </div>
    <div id="addModalBody" class="modal-body grid">
        <div class="form-floating g-col-12 g-col-sm-12 g-col-md-6 g-col-lg-6 g-col-xl-6 g-col-xxl-6">
            <select id="caller_id" name="caller_id" aria-label="Caller" class="form-select">
                {% for caller in callers %}
                <option value="{{caller.value}}">
                    {{caller.display}}
                </option>
                {% endfor %}
            </select>
            <label for="caller_id">
                Caller
            </label>
        </div>
        
        <div class="form-floating g-col-12 g-col-sm-12 g-col-md-6 g-col-lg-3 g-col-xl-3 g-col-xxl-3">
            <select id="call_type" name="call_type" aria-label="Call Type" class="form-select">
                {% for callType in callTypes %}
                <option value="{{callType.value}}">
                    {{callType.display}}
                </option>
                {% endfor %}
            </select>
            <label for="call_type">
                Call Type
            </label>
        </div>
        
        <div class="form-floating g-col-12 g-col-sm-12 g-col-md-6 g-col-lg-3 g-col-xl-3 g-col-xxl-3">
            <input type="datetime-local" id="calling_time" name="calling_time" class="form-control">
            <label for="calling_time">
                Calling Time
            </label>
        </div>
        
        <div class="form-floating g-col-12 g-col-sm-12 g-col-md-6 g-col-lg-3 g-col-xl-3 g-col-xxl-3">
            <input type="time" step="1" id="call_duration" name="call_duration" value="00:00:00" class="form-control">
            <label for="call_duration">
                Call Duration
            </label>
        </div>
        
        <div class="form-floating g-col-12 g-col-sm-12 g-col-md-6 g-col-lg-6 g-col-xl-6 g-col-xxl-6">
            <select id="lead_id" name="lead_id" class="form-select">
                {% for lead in leads %}
                <option value="{{lead.value}}">
                    {{lead.display}}
                </option>
                {% endfor %}
            </select>
            <label for="lead_id">
                Lead
            </label>
        </div>
        
        <div class="form-floating g-col-12 g-col-sm-12 g-col-md-6 g-col-lg-3 g-col-xl-3 g-col-xxl-3">
            <select id="contact_person_id" name="contact_person_id" class="form-select">
                {% for contactPerson in contactPersons %}
                <option value="{{contactPerson.value}}">
                    {{contactPerson.display}}
                </option>
                {% endfor %}
            </select>
            <label for="contact_person_id">
                Contact Person
            </label>
        </div>
        
        <div class="form-floating g-col-12 g-col-sm-12 g-col-md-6 g-col-lg-6 g-col-xl-6 g-col-xxl-6">
            <textarea id="purpose_of_the_call" name="purpose_of_the_call" class="form-control" style="height: 100px;">{{call.purpose_of_the_call}}</textarea>
            <label for="remark">
                Purpose Of The Call
            </label>
        </div>
        
        <div class="form-floating g-col-12 g-col-sm-12 g-col-md-6 g-col-lg-6 g-col-xl-6 g-col-xxl-6">
            <textarea id="outcome_of_the_call" name="outcome_of_the_call" class="form-control" style="height: 100px;">{{call.outcome_of_the_call}}</textarea>
            <label for="remark">
                Outcome Of The Call
            </label>
        </div>
        
        <div class="form-floating g-col-12 g-col-sm-12 g-col-md-6 g-col-lg-6 g-col-xl-6 g-col-xxl-6">
            <select id="is_call_recording_available" name="is_call_recording_available" class="form-select">
                <option value="True">
                    Yes
                </option>
                <option value="False" selected>
                    No
                </option>
            </select>
            <label for="is_call_recording_available">
                Call Recording Available?
            </label>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">
            Close
        </button>
        <button type="submit" id="submit" name="submit" class="btn btn-sm btn-success">
            Save
        </button>
    </div>
</form>
<script type="text/javascript">
    jq('#onAddFrom').submit(function (e) {
        e.preventDefault(); // Prevent default form submission

        // Collect form data and create a JSON object
        var formData = {};
        jq('#onAddFrom').serializeArray().forEach(function(item) {
            formData[item.name] = item.value;
        });

        // Make the AJAX POST request
        jq.ajax({
            type: 'POST',
            url: '/call_log/add/',
            contentType: 'application/json',
            data: JSON.stringify(formData),
            headers: {
                "X-CSRFToken": csrftoken
            },
            contentType: 'application/json',
            success: function (response) {
                console.log('Success:', response);
            },
            error: function (error) {
                console.log('Error:', error);
            }
        });
    });
</script>