{% extends "base.html" %}

{% block title %}
Call Log
{% endblock title %}

{% block action %}
<a id="onAdd" name="onAdd" href="javascript:void(0)" class="btnAdd float-end" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="ic-add-tooltip" data-bs-title="Add New Call">
    <span class="material-icons isz-36 ic-add">add</span>
</a>
{% endblock action %}

{% block body %}
<div class="clearfix" style="padding-left: 15px; padding-right: 15px;">
    <nav class="float-end" aria-label="breadcrumb" style="height: 15px;">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <li class="breadcrumb-item">Tracking</li>
            <li class="breadcrumb-item active" aria-current="page">Call Log</li>
        </ol>
    </nav>
</div>

<div class="grid" style="padding: 15px;">
    {% for call in calls %}
    <div class="card g-col-12 g-col-sm-12 g-col-md-6 g-col-lg-4 g-col-xl-4 g-col-xxl-4 p-0">
        <div class="card-header">
            {{ call.customerName }}
            
            <a data-call_id="{{call.callId}}" href="javascript:void(0)" class="btnEdit float-end" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="ic-edit-tooltip" data-bs-title="Edit Call">
                <span class="material-icons isz-24 ic-edit">edit</span>
            </a>

            <a data-call_id="{{call.callId}}" href="javascript:void(0)" class="btnDelete float-end" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="ic-delete-tooltip" data-bs-title="Delete Call">
                <span class="material-icons isz-24 ic-delete">delete</span>
            </a>

            <span class="badge rounded-pill text-bg-secondary float-end">
                {{ call.status }}
            </span>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p style="max-height: 3em; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: smaller; overflow-wrap: break-word;">
                    {{ call.remark }}
                </p>
                <footer class="blockquote-footer" style="font-size: small;">
                    Calling time:
                    <cite title="Source Title">
                        {{ call.callingTime }}
                    </cite>
                </footer>
            </blockquote> 
        </div>
    </div>
    {% endfor %}
</div>

<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true"></div>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true"></div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true"></div>

<script type="text/javascript">
    var jq = $.noConflict();

    jq(document).ready(function() {
        jq("#onAdd").click(function(e) {
            console.log("You click on onAdd:");

            $.ajax({
                type: "GET",
                datatype: "html",
                url: "/call_log/add_modal/",
                success: function (response) {
                    jq("#addModal").html(response);
                    jq('#addModal').modal('show');
                }, error: function () {
                    jq("#customer_id").empty();
                }
            });
        });

        jq(".btnEdit").click(function(e) {
            var button = jq(e.target);
            var callId = button.data('call_id');

            $.ajax({
                type: "GET",
                dataType: "html",
                url: "/call_log/edit_modal/",
                success: function(response) {
                    jq("#editModal").html(response);
                    jq('#editModal').modal('show');
                },
                error: function() {
                    jq("#customer_id").empty();
                }
            });
        });

        jq(".btnDelete").click(function(e) {
            var button = jq(e.target);
            var callId = button.data('call_id');

            $.ajax({
                type: "GET",
                dataType: "html",
                url: "/call_log/delete_modal/",
                success: function(response) {
                    jq("#deleteModal").html(response);
                    jq('#deleteModal').modal('show');
                },
                error: function() {
                    jq("#customer_id").empty();
                }
            });
        });
    });
</script>
{% endblock body %}