{% extends "base.html" %}

{% block title %}
Call Log
{% endblock title %}

{% block action %}
<a id="onAdd" name="onAdd" href="javascript:void(0)" class="btnAdd float-end" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="ic-add-tooltip" data-bs-title="Add New Call">
    <span class="material-icons isz-36 ic-add">add</span>
</a>
{% endblock action %}

{% block body %}
<div class="clearfix" style="padding-left: 15px; padding-right: 15px;">
    <nav class="float-end" aria-label="breadcrumb" style="height: 15px;">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <li class="breadcrumb-item">Tracking</li>
            <li class="breadcrumb-item active" aria-current="page">Call Log</li>
        </ol>
    </nav>
</div>

<div class="grid" style="padding: 15px;">
    {% for callLog in callLogs %}
    <div class="card g-col-12 g-col-sm-12 g-col-md-6 g-col-lg-4 g-col-xl-4 g-col-xxl-4 p-0">
        <div class="card-header">
            {{ callLog.person_name }} <small class="fw-light">from {{ callLog.company_name }}</small>
            
            <a data-call_id="{{callLog.call_log_id}}" href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="ic-edit-tooltip" data-bs-title="Edit this Call Log" class="btnEdit float-end">
                <span class="material-icons isz-24 ic-edit">edit</span>
            </a>

            <a data-call_id="{{callLog.call_log_id}}" href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="ic-delete-tooltip" data-bs-title="Delete this Call Log" class="btnDelete float-end">
                <span class="material-icons isz-24 ic-delete">delete</span>
            </a>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <div style="font-size: small; color: gray;">
                    <span class="material-icons isz-18">
                        {% if callLog.call_type == "I" %}
                        phone_callback
                        {% elif callLog.call_type == "O" %}
                        phone_forwarded
                        {% else %}
                        phone_missed
                        {% endif %}
                    </span>

                    <span style="font-size: 12px;">
                        {{ callLog.calling_time }}
                    </span>
                </span>
                <p style="max-height: 3em; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: smaller; overflow-wrap: break-word;"></p>
                <footer class="blockquote-footer mb-0" style="font-size: small;">
                    Created by {{ callLog.creator_name }} at 
                    <cite title="Source Title">
                        {{ callLog.created_date }}
                    </cite>
                </footer>
            </blockquote> 
        </div>
    </div>
    {% endfor %}
</div>

<div id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div id="addModalContent" class="modal-content"></div>
    </div>
</div>

<div id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div id="editModalContent" class="modal-content"></div>
    </div>
</div>

<div id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
        <div id="deleteModalContent" class="modal-content"></div>
    </div>
</div>
{% endblock body %}

{% block script %}
<script type="text/javascript">
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    var jq = $.noConflict();

    jq(document).ready(function() {
        jq("#onAdd").click(function(e) {
            jq.ajax({
                type: "GET",
                datatype: "html",
                url: "/call_log/add_modal/",
                success: function (response) {
                    jq("#addModalContent").html(response);
                    jq('#addModal').modal('show');
                }, error: function () {
                    jq("#customer_id").empty();
                }
            });
        });

        jq(".btnEdit").click(function(e) {
            jq.ajax({
                type: "GET",
                dataType: "html",
                url: "/call_log/edit_modal/"+jq(this).data('call_id')+"/",
                success: function(response) {
                    jq("#editModalContent").html(response);
                    jq('#editModal').modal('show');
                },
                error: function() {
                    jq("#customer_id").empty();
                }
            });
        });

        jq(".btnDelete").click(function(e) {
            jq.ajax({
                type: "GET",
                dataType: "html",
                url: "/call_log/delete_modal/"+jq(this).data('call_id')+"/",
                success: function(response) {
                    jq("#deleteModalContent").html(response);
                    jq('#deleteModal').modal('show');
                },
                error: function() {
                    jq("#customer_id").empty();
                }
            });
        });
    });
</script>
{% endblock script %}