<div class="modal-dialog">
    <div class="modal-content">
        <form method="DELETE" id="onDelete" name="onDelete">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="deleteModalLabel">
                Delete Call
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="form-floating mb-3">
                <textarea class="form-control" placeholder="Leave a remark here" id="remark" name="remark" style="height: 100px;"></textarea>
                <label for="remark">
                    Remark
                </label>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">
                Close
            </button>
            <button type="submit" id="submit" name="submit" class="btn btn-sm btn-success">
                Submit
            </button>
        </div>
        </form>
    </div>
</div>